<h1>Editing Device Component Status</h1>

<%= render 'form', device_component_status: @device_component_status %>

<%= link_to 'Show', @device_component_status %> |
<%= link_to 'Back', device_component_statuses_path %>
