<p id="notice"><%= notice %></p>

<p>
  <strong>Device comp status:</strong>
  <%= @device_component_status.device_comp_status %>
</p>

<%= link_to 'Edit', edit_device_component_status_path(@device_component_status) %> |
<%= link_to 'Back', device_component_statuses_path %>
