<p id="notice"><%= notice %></p>

<p>
  <strong>Device manu name:</strong>
  <%= @device_manufacturer.device_manu_name %>
</p>

<%= link_to 'Edit', edit_device_manufacturer_path(@device_manufacturer) %> |
<%= link_to 'Back', device_manufacturers_path %>
