<p id="notice"><%= notice %></p>

<p>
  <strong>Repair order status:</strong>
  <%= @repair_order_status.repair_order_status %>
</p>

<%= link_to 'Edit', edit_repair_order_status_path(@repair_order_status) %> |
<%= link_to 'Back', repair_order_statuses_path %>
