<p id="notice"><%= notice %></p>

<p>
  <strong>Tech status:</strong>
  <%= @technician_status.tech_status %>
</p>

<%= link_to 'Edit', edit_technician_status_path(@technician_status) %> |
<%= link_to 'Back', technician_statuses_path %>
