<div class="field">
  <%= form.label :device_id %>
  <%= form.text_field :device_id, id: :device_repair_order_device_id %>
</div>

<div class="field">
  <%= form.label :repair_order_id %>
  <%= form.text_field :repair_order_id, id: :device_repair_order_repair_order_id %>
</div>